{% extends "base.html" %}
{% block style %}

div.stagebar_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.stagebar_column {
    display: inline block;
    margin: 0.5rem;
    background: #e0e0e0;
    color: #0277bd;
    text-align: center;
    vertical-align: middle;
    height: 1.5em;
}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var njobs = {{ njobs }};
    var ncomplete = {{ ncomplete }};
    var nstages = {{ nstages }};
    var percent = 0;
    // Change job/div based on its id components
    var working_node;
    var flagged_node;
    var stagejobs = { 'ntot': {{ njobs }}, 'nstages': {{ nstages }}, 'count': {{ jobcount }} };

    function set_percentage(){
        percent_count = document.getElementById("progress_percent");
        percent_bar = document.getElementById("progress_total");
        //console.log("Estimating percentage: with ncomplete", ncomplete, "njobs:", njobs, "and counts", stagejobs);
        if (ncomplete > 0) {
            percent = parseInt(100.0 * ncomplete / njobs);
        } else {
            percent = 0;
        }

        percent_count.innerHTML = "<h2>" + percent + "%</h2>";
        percent_bar.value = percent;
    }

    function get_main_nodes(){
        working_node = document.getElementById("working_nodes");
        flagged_node = document.getElementById("flagged_nodes");
    }

    socket.on("reload", function(){
        location.reload();
    });

    window.onload = function() {
        console.log('On window.onload:')
        set_percentage();
        set_stagebars();
        get_main_nodes();
        console.log('Done window.onload.')
    }

    function set_stagebars() {
        // Update the job distribution bar
        njobs = stagejobs['ntot']
        var nstages = stagejobs['nstages']
        var bar;
        //console.log("setting stagebars...", njobs , nstages);
        if (njobs > 0) {
            var percents = stagejobs['count'].map(function(n) {
                return percent = 100.0*n / njobs;
            });

            var bars = percents.map(function(pc, ix) {
                bar = document.getElementById("stagebar " + ix);
                bar.style = "width: " + pc + "%";
                bar.innerHTML = stagejobs['count'][ix];
                return 0;
            });
        }
    }


    socket.on("counted jobs in stages", function(count){
        // Update global variable stagejobs
        //console.log("counted jobs in stages", count);
        stagejobs = count;
        ncomplete = count['count'][count['count'].length-1]
        set_stagebars();
        set_percentage();


    });

    socket.on("job change", function(job){
        console.log("Received job change alert...");
        console.log(job);
        //console.log(working_node, flagged_node);
        var value;
        var old_value;
        for (var key in job){
            //console.log(key);
            if (!job[key]) {
                value = '-';
            } else {
                value = job[key];
            }
            //console.log('value for key', key, 'is', value);
            var entry = document.getElementById(key + " " + job["jobid"]);
            if (entry && key == "flagged") {
                // Determine if this object must be moved
                if (job[key] == 1 && entry.parentNode.id == "working_nodes") {
                    // Move!
                    flagged_node.appendChild(entry);
                } else if (job[key] == 0 && entry.parentNode.id == "flagged_nodes") {
                    working_node.appendChild(entry);
                }
            }
            // Check if job completed? 
            if (entry && key == "jobstage") {
                oldstage = entry.innerHTML;
                if (job[key] > oldstage && job[key] == nstages) {
                    ncomplete += 1;
                }
            }
            if (entry && key != "flagged") {
                entry.innerHTML = value;
            } else {
                console.log('Unkown element ID:', key);
            }
            // These two must be called from server
            //set_stagebars();
            //set_percentage();
        }
    });
</script>

{% endblock %}

{% block body %}
<div class="row">
<div class="col-sm-11"><h2>Status of all jobs</h2></div>
<div id="progress_percent" class="col-sm-1" style="text-align: right"><h2> 0% </h2></div>
</div>
<progress id="progress_total" value="0" max="100"></progress>
<div class="row">
<div class="stagebar_wrapper">
    {% for stage in range(nstages+1) %}
    <div class="stagebar_column" id="stagebar {{ stage }}" style="width: {{ 100/(nstages+1)}}%">{{ stage }}</div>
    {% endfor %}
</div>
</div>
<hr>

<div class="row">
<div class="col-sm  col-sm-offset-2"> Job ID </div>
<div class="col-sm"> Stage </div>
<div class="col-sm"> Save path </div>
<div class="col-sm"> Date committed </div>
</div>
<hr>

<div id="working_nodes">
{% for item in jobs %}
{% if item.flagged != 1 %}
<div id="flagged {{ item.jobid }}" class="row">
    <div id="jobid {{ item.jobid }}" class="col-sm  col-sm-offset-2">
        {{ item.jobid }}
    </div>
    <div id="jobstage {{ item.jobid }}" class="col-sm">
        {{ item.jobstage }}
    </div>
    {% if item.filename %}
    <div id="filename {{ item.jobid }}" class="col-sm">
        {{ item.filename.decode('utf8') }}
    </div>
    {% else %}
    <div id="filename {{ item.jobid }}" class="col-sm">  </div>
    {% endif %}
    <div id="datecommitted {{ item.jobid }}" class="col-sm">
        {{ item.datecommitted }}
    </div>
</div>
{% endif %}
{% endfor %}
</div>

<h2>Expired jobs</h2>
<hr>
<div id="flagged_nodes">
{% for item in jobs %}
{% if item.flagged == 1 %}
<div id="flagged {{ item.jobid }}" class="row">
    <div id="jobid {{ item.jobid }}" class="col-sm  col-sm-offset-2">
        {{ item.jobid }}
    </div>
    <div id="jobstage {{ item.jobid }}" class="col-sm">
        {{ item.jobstage }}
    </div>
    {% if item.filename %}
    <div id="filename {{ item.jobid }}" class="col-sm">
        {{ item.filename.decode('utf8') }}
    </div>
    {% else %}
    <div id="filename {{ item.jobid }}" class="col-sm">  </div>
    {% endif %}
    <div id="datecommitted {{ item.jobid }}" class="col-sm">
        {{ item.datecommitted }}
    </div>
</div>
{% endif %}
{% endfor %}
</div>

{% endblock %}
